**.env
**.env.local
*.pyc
*/**/__pycache__
*/**/.pytest_cache
*/**/.mypy_cache
*/**/.ruff_cache
**/venv
*/**/.venv
.spotipy_token_cache

# Cloudflare tunnel credentials and config
**/cloudflared-config.yml
**/.cloudflared/

# IDE
.idea/
.vscode/
