*.pyc
__pycache__/
.env
.spotipy_token_cache
airflow_variables.json
tokens
logs

# dbt artifacts
dbt_project/profiles.yml
dbt_project/.user.yml
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
